*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0 16px;
    background-color: rgba(210,196,185,255);
    color: rgba(104,76,70,255);
}

header nav li {
    display: inline;
    font-size: 20px;
    padding: 10px;
}

header nav li a {
    text-decoration: none;
    color: rgba(104,76,70,255);
}

.container {
    max-width: 1280px;
    width: 100%;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    padding: 20px;
}

img {
    border-radius: 20px;
    height: 150px;
    width: 215px;
    object-fit: cover;
}

section .info {
    padding: 30px;
}

section h1{
    text-align: center;
    background-color: rgba(210,196,185,255);
    color: rgba(104,76,70,255);
    width: 100%;
}

h2, h3{
    color: rgba(104,76,70,255);
}

p{
    color: rgba(104,76,70,255);
}

section {
    background-color: rgba(237,230,224,255);
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    padding: 8px;
}

button {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: rgba(104,76,70,255);
}

button:hover {
    background-color: rgba(210,196,185,255);
}

input:focus, textarea:focus {
    outline-color: rgba(210,196,185,255);
}

textarea {
    resize: none;
}

.social-links li {
    display: inline;
}

.social-links img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    padding: 8px;
}

footer {
    background-color: rgba(210,196,185,255);
    padding: 0 20px;
}